.u-form {
  & {
    display: flex;
    flex-wrap: wrap;
  }
  &.el-form--inline {
    .el-form-item {
      margin-right: 0;
      // padding-right: 20px;
    }
  }
  .el-form-item {
    .el-form-item__label {
      align-items: center;
    }
  }
  &:not(.el-form--inline) {
    .el-form-item {
      .el-form-item__content > div {
        width: 100%;
      }
    }
  }

  .u-form-item__tooltip-icon {
    margin-left: 5px;
  }
  .u-form-item--section-header {
    .el-form-item__label {
      display: none;
    }
    .el-form-item__label-wrap {
      display: none;
      margin-left: 0px !important;
    }
  }
}
